<!------------------------------------------------------------------>


<p>La pédagogie par OBJECTIF :
    En pédagogie, un OBJECTIF est un énoncé d'intention décrivant ce que l'apprenant saura (ou saura faire) aprés l'apprentissage.</p>
<p>Le role de l'enseignant:
1. Améliorer la COMMUNICATION.
2. Servir à choisir les activités.
3. Faciliter le choix du matériel pédagogique
4. Préciser l'objet de l'évaluation.
5. C'est un planificateur de cours, un guide, aide à l'apprentissage.
6. c'est un dispensateur de connaissance.
7. Apprendre et Rappeler a l'apprennant son role.</p>

<P>Le Role de l'apprenant:
1. Avoir toujours une cible a atteindre.
2. Pouvoir explorer des modules en toute connaissance des contunus.
3. Pouvoir organiser son travail.
4. S'auto-evaluer et se motiver.</P>

<p>l'Apprentissage:
l'apprentissage se focalise sur la conception de taches permettant de conduire l'étudiant,
    lentement mais surement vers la réalisation des OBJECTIFS correspondant à son programme d'étude</p>


<section id="page-container">

    <div class="groupe">


        <jhi-groupe ></jhi-groupe>
    </div>


    <jhi-calendar></jhi-calendar>
    <!------------------------------------------------------------------>
    <div class="parallax"></div>
    <!------------------------------------------------------------------>
    <div class="example-box" cdkDrag>
        <p>Fiche de Séance n°99 du 22/11/2019</p>
        <div class="form-container">
            <mat-form-field>
                <input matInput placeholder="Humeur, fait Divers ++"/>
            </mat-form-field>


            <mat-form-field>
                <mat-select placeholder="Theme" multiple>
                    <mat-option value="Objectif">Option</mat-option>
                    <mat-option value="option">Option1</mat-option>
                    <mat-option value="option">Option2</mat-option>
                    <mat-option value="option">Option3</mat-option>
                    <mat-option value="option">Option4</mat-option>
                    <mat-option value="option">Option5</mat-option>
                </mat-select>

            </mat-form-field>
            <mat-form-field>
                <mat-select placeholder="Objectifs" multiple>
                    <mat-option value="option">Option</mat-option>
                    <mat-option value="option">Option1</mat-option>
                    <mat-option value="option">Option2</mat-option>
                    <mat-option value="option">Option3</mat-option>
                    <mat-option value="option">Option4</mat-option>
                    <mat-option value="option">Option5</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-select placeholder="Echauffement" multiple>
                    <mat-option value="option">Option</mat-option>
                    <mat-option value="option">Option1</mat-option>
                    <mat-option value="option">Option2</mat-option>
                    <mat-option value="option">Option3</mat-option>
                    <mat-option value="option">Option4</mat-option>
                    <mat-option value="option">Option5</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-select placeholder="Corps de Séance" multiple>
                    <mat-option value="option">Option</mat-option>
                    <mat-option value="option">Option1</mat-option>
                    <mat-option value="option">Option2</mat-option>
                    <mat-option value="option">Option3</mat-option>
                    <mat-option value="option">Option4</mat-option>
                    <mat-option value="option">Option5</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-select placeholder="Récupération" multiple>
                    <mat-option value="option">Option</mat-option>
                    <mat-option value="option">Option1</mat-option>
                    <mat-option value="option">Option2</mat-option>
                    <mat-option value="option">Option3</mat-option>
                    <mat-option value="option">Option4</mat-option>
                    <mat-option value="option">Option5</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <textarea matInput placeholder="Bilan"></textarea>
            </mat-form-field>
            <div >
            <button type="button"  class="btn btn-primary">Cancel</button>
            <button type="button"  class="btn btn-primary">Save</button>
            </div>
            </div>
    </div>



    <!--------------------------------------------------------------->
    <div class="parallax"></div>

    <!--------------------------------------------------------------->

    <!--------------------------------------------------------------->
    <div class="example-box" cdkDrag>
        <!-- 1. inline datepicker -->
        <ngb-datepicker #d></ngb-datepicker>

    </div>
    <!------------------------------------------------------------------>

    <!--------------------------------------------------------------------------->
</section>

<!--
<form name="eventForm" [formGroup]="eventForm" class="event-form w-10-p" fxLayout="column" fxFlex>
    <div>
        <mat-form-field appearance="outline" >
            <mat-label>Title</mat-label>
            <input matInput name="title" formControlName="title" required>
        </mat-form-field>
    </div>
    <div fxFlex="1 0 auto" fxLayout="column" fxLayout.gt-xs="row" formGroupName="color">

        <mat-form-field appearance="outline" class="pr-sm-8" fxFlex="50">
            <mat-label>Primary color</mat-label>
            <input matInput
                   class="primary-color-input border-radius-4"
                   name="primary color"
                   formControlName="primary"
                   [(colorPicker)]="event.color.primary"
                   cpWidth="290px"
                   [cpPresetColors]="presetColors"
                   [style.background]="event.color.primary"
                   (colorPickerChange)="event.color.primary = $event; eventForm.patchValue({color:{primary:$event}})"/>
        </mat-form-field>

        <mat-form-field appearance="outline" class="pl-sm-8" fxFlex="50">
            <mat-label>Secondary color</mat-label>
            <input matInput
                   class="secondary-color-input border-radius-4"
                   name="secondary color"
                   formControlName="secondary"
                   [(colorPicker)]="event.color.secondary"
                   cpWidth="290px"
                   [cpPresetColors]="presetColors"
                   [style.background]="event.color.secondary"
                   (colorPickerChange)="event.color.secondary = $event; eventForm.patchValue({color:{secondary:$event}})"/>
        </mat-form-field>

    </div>

    <div class="pb-32" fxFlex="1 0 auto" fxLayout="row">

        <mat-slide-toggle name="allDay" formControlName="allDay" class="mr-24" aria-label="All day">
            All Day
        </mat-slide-toggle>

    </div>

    <div fxFlex="1 0 auto" fxLayout="column" fxLayout.gt-xs="row">

        <mat-form-field appearance="outline" class="pr-sm-8" fxFlex="50">
            <mat-label>Start date</mat-label>
            <input matInput [matDatepicker]="startDatePicker" name="start" formControlName="start">
            <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #startDatePicker></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline" class="pl-sm-8 no-errors-spacer" fxFlex="50">
            <mat-label>Start time</mat-label>
            <input matInput type="time">
        </mat-form-field>

    </div>

    <div fxFlex="1 0 auto" fxLayout="column" fxLayout.gt-xs="row">

        <mat-form-field appearance="outline" class="pr-sm-8" fxFlex="50">
            <mat-label>End date</mat-label>
            <input matInput [matDatepicker]="endDatePicker" name="end" formControlName="end">
            <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #endDatePicker></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline" class="pl-sm-8 no-errors-spacer" fxFlex="50">
            <mat-label>End time</mat-label>
            <input matInput type="time">
        </mat-form-field>

    </div>

    <mat-form-field appearance="outline" formGroupName="meta" class="w-100-p">
        <mat-label>Location</mat-label>
        <input matInput
               name="location"
               formControlName="location">
    </mat-form-field>

    <mat-form-field appearance="outline" formGroupName="meta" class="w-100-p">
        <mat-label>Notes</mat-label>
        <textarea matInput
                  formControlName="notes"
                  mat-maxlength="250"
                  max-rows="4">
                </textarea>
    </mat-form-field>


</form>

-->
