<!------------------------------------------------------------------>


<p>La pédagogie par OBJECTIF :
    En pédagogie, un OBJECTIF est un énoncé d'intention décrivant ce que l'apprenant saura (ou saura faire) aprés l'apprentissage.</p>
<p>Le role de l'enseignant:
1. Améliorer la COMMUNICATION.
2. Servir à choisir les activités.
3. Faciliter le choix du matériel pédagogique
4. Préciser l'objet de l'évaluation.
5. C'est un planificateur de cours, un guide, aide à l'apprentissage.
6. c'est un dispensateur de connaissance.
7. Apprendre et Rappeler a l'apprennant son role.</p>

<P>Le Role de l'apprenant:
1. Avoir toujours une cible a atteindre.
2. Pouvoir explorer des modules en toute connaissance des contunus.
3. Pouvoir organiser son travail.
4. S'auto-evaluer et se motiver.</P>

<p>l'Apprentissage:
l'apprentissage se focalise sur la conception de taches permettant de conduire l'étudiant,
    lentement mais surement vers la réalisation des OBJECTIFS correspondant à son programme d'étude</p>


<section id="page-container">

    <div class="groupe">
        <div>
            <h2 id="page-heading">
                <span jhiTranslate="t04JhApp.groupe.home.title">Groupes</span>
                <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-groupe" [routerLink]="['/groupe/new']">
                    <fa-icon [icon]="'plus'"></fa-icon>
                    <span  jhiTranslate="t04JhApp.groupe.home.createLabel">
            Create a new Groupe
            </span>
                </button>
            </h2>
            <jhi-alert-error></jhi-alert-error>
            <jhi-alert></jhi-alert>
            <br/>
            <div class="alert alert-warning" *ngIf="groupes?.length === 0">
                <span jhiTranslate="t04JhApp.groupe.home.notFound">No groupes found</span>
            </div>
            <div class="table-responsive" *ngIf="groupes?.length > 0">
                <table class="table table-striped" aria-describedby="page-heading">
                    <thead>
                    <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
                        <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                        <th scope="col"  jhiSortBy="groupeName"><span jhiTranslate="t04JhApp.groupe.groupeName">Groupe Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                        <th scope="col"  jhiSortBy="startDate"><span jhiTranslate="t04JhApp.groupe.startDate">Start Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                        <th scope="col"  jhiSortBy="days"><span jhiTranslate="t04JhApp.groupe.days">Days</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                        <th scope="col"  jhiSortBy="endDate"><span jhiTranslate="t04JhApp.groupe.endDate">End Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                        <th scope="col"  jhiSortBy="saison"><span jhiTranslate="t04JhApp.groupe.saison">Saison</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                        <th scope="col"  jhiSortBy="category"><span jhiTranslate="t04JhApp.groupe.category">Category</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                        <th scope="col"  jhiSortBy="obs"><span jhiTranslate="t04JhApp.groupe.obs">Obs</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                    <tr *ngFor="let groupe of groupes ;trackBy: trackId">
                        <td><a [routerLink]="['/groupe', groupe.id, 'view' ]">{{groupe.id}}</a></td>
                        <td>{{groupe.groupeName}}</td>
                        <td>{{groupe.startDate | date:'medium'}}</td>
                        <td>{{groupe.days}}</td>
                        <td>{{groupe.endDate | date:'medium'}}</td>
                        <td>{{groupe.saison}}</td>
                        <td jhiTranslate="{{'t04JhApp.Category.' + groupe.category}}">{{groupe.category}}</td>
                        <td>{{groupe.obs}}</td>
                        <td class="text-right">
                            <div class="btn-group">
                                <button type="submit"
                                        [routerLink]="['/groupe', groupe.id, 'view' ]"
                                        class="btn btn-info btn-sm">
                                    <fa-icon [icon]="'eye'"></fa-icon>
                                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                                </button>
                                <button type="submit"
                                        [routerLink]="['/groupe', groupe.id, 'edit']"
                                        class="btn btn-primary btn-sm">
                                    <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                                </button>
                                <button type="submit" (click)="delete(groupe)"
                                        class="btn btn-danger btn-sm">
                                    <fa-icon [icon]="'times'"></fa-icon>
                                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <jhi-groupe ></jhi-groupe>
    </div>


    <jhi-calendar></jhi-calendar>
    <!------------------------------------------------------------------>
    <div class="parallax"></div>
    <!------------------------------------------------------------------>
    <div class="example-box" cdkDrag>
        <p>Fiche de Séance n°99 du 22/11/2019</p>
        <div class="form-container">
            <mat-form-field>
                <input matInput placeholder="Humeur, fait Divers ++"/>
            </mat-form-field>


            <mat-form-field>
                <mat-select placeholder="Theme" multiple>
                    <mat-option value="Objectif">Option</mat-option>
                    <mat-option value="option">Option1</mat-option>
                    <mat-option value="option">Option2</mat-option>
                    <mat-option value="option">Option3</mat-option>
                    <mat-option value="option">Option4</mat-option>
                    <mat-option value="option">Option5</mat-option>
                </mat-select>

            </mat-form-field>
            <mat-form-field>
                <mat-select placeholder="Objectifs" multiple>
                    <mat-option value="option">Option</mat-option>
                    <mat-option value="option">Option1</mat-option>
                    <mat-option value="option">Option2</mat-option>
                    <mat-option value="option">Option3</mat-option>
                    <mat-option value="option">Option4</mat-option>
                    <mat-option value="option">Option5</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-select placeholder="Echauffement" multiple>
                    <mat-option value="option">Option</mat-option>
                    <mat-option value="option">Option1</mat-option>
                    <mat-option value="option">Option2</mat-option>
                    <mat-option value="option">Option3</mat-option>
                    <mat-option value="option">Option4</mat-option>
                    <mat-option value="option">Option5</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-select placeholder="Corps de Séance" multiple>
                    <mat-option value="option">Option</mat-option>
                    <mat-option value="option">Option1</mat-option>
                    <mat-option value="option">Option2</mat-option>
                    <mat-option value="option">Option3</mat-option>
                    <mat-option value="option">Option4</mat-option>
                    <mat-option value="option">Option5</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-select placeholder="Récupération" multiple>
                    <mat-option value="option">Option</mat-option>
                    <mat-option value="option">Option1</mat-option>
                    <mat-option value="option">Option2</mat-option>
                    <mat-option value="option">Option3</mat-option>
                    <mat-option value="option">Option4</mat-option>
                    <mat-option value="option">Option5</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <textarea matInput placeholder="Bilan"></textarea>
            </mat-form-field>
            <div >
            <button type="button"  class="btn btn-primary">Cancel</button>
            <button type="button"  class="btn btn-primary">Save</button>
            </div>
            </div>
    </div>



    <!--------------------------------------------------------------->
    <div class="parallax"></div>

    <!--------------------------------------------------------------->

    <!--------------------------------------------------------------->
    <div class="example-box" cdkDrag>
        <!-- 1. inline datepicker -->
        <ngb-datepicker #d></ngb-datepicker>

    </div>
    <!------------------------------------------------------------------>

    <!--------------------------------------------------------------------------->
</section>
