/* ==========================================================================
Main page styles
========================================================================== */

.hipster {
  display: inline-block;
  width: 347px;
  height: 497px;
  background: url('../../../content/images/jhipster_family_member_2.svg') no-repeat center top;
  background-size: contain;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (-moz-min-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .hipster {
    background: url('../../../content/images/jhipster_family_member_2.svg') no-repeat center top;
    background-size: contain;
  }
}
//________________________

#page-container {
  font-family: Arial, Helvetica, sans-serif;

  .jumbotron {
    background: #3e8acc;
    color: whitesmoke;
    padding: 25px 25px;
    margin-top: 1em;
  }

  .container-fluid {
    display: inline-block;
    padding: 600px 25px;
  }

  .bg-gray {
    background: lightgray;
  }
}
//custom
.img-carousel {
  height: 35em;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.carousel-caption {
  color: #fafdff;
  font-size: 50px;
}

//______________
.form-container {
  flex-direction: column;
  margin: 1em;
  padding: 1em;
  border: 2px solid #1976d2;
}

.form-container > * {
  width: 100%;
  height: 100%;
}

.parallax {
  /* The image used */
  background-image: url('../../../content/images/natation/b.jpg');

  /* Full height */
  height: 300px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.fom-pre-inscription {
  padding-top: 5em;
  padding-bottom: 3em;
}
